*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

html {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 27%);
  font-size: clamp(16px, 2.5vw + 0.5rem, 25px);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  width: 100vw;
  min-width: 320px;
}

body {
  min-width: 320px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6vh 5vw;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: 320px;
}

.logo {
  width: 16.5vw;
  height: auto;
}

.navbar {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  padding: 3vh 8vw;
  position: fixed;
}

.navbar-open-button {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  width: min(10vw, 60px);
  height: min(8.66vw, 52px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: hsl(0, 0%, 100%);
}
.navbar-open-button:hover {
  color: hsl(0, 0%, 0%);
}
.navbar-open-button .navbar-open-icon {
  width: 60%;
  height: 60%;
}
.navbar-open-button .navbar-open-icon path {
  stroke-width: clamp(0.2px, 0.05vw, 1.5px);
  stroke: hsl(0, 0%, 100%);
  vector-effect: non-scaling-stroke;
  fill: currentColor;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;
  min-width: 320px;
}
.main__button {
  letter-spacing: 0.5em;
  display: flex;
  align-self: flex-start;
  gap: 1rem;
  padding: 3vh 8vw;
  color: hsl(0, 0%, 0%);
  transition: color 0.3s ease;
  padding-top: 0;
}
.main__button:hover {
  color: hsl(0, 0%, 27%);
}
.main__button,
.main__button svg path {
  color: hsl(0, 0%, 0%);
  fill: currentColor;
}
.main__image {
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 3vh 0;
}
.main__image:last-child {
  margin-bottom: 0;
}

.about__title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 3vh 8vw;
  align-self: flex-start;
  letter-spacing: 0.2rem;
  color: hsl(0, 0%, 0%);
}
.about__description {
  font-weight: 500;
  color: hsl(0, 0%, 27%);
  padding: 3vh 8vw;
  padding-top: 0;
  line-height: 1.5rem;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  align-items: baseline;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}
.slider__slide {
  width: 33.333%;
  flex: 0 0 33.333%;
  position: relative;
}
.slider__image {
  width: 100%;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  min-width: 320px;
}
.slider__title {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 3vh 8vw;
  color: hsl(0, 0%, 0%);
}
.slider__description {
  font-weight: 500;
  color: hsl(0, 0%, 27%);
  padding: 3vh 8vw;
  padding-top: 0;
  line-height: 1.5rem;
}
.slider__controls {
  position: absolute;
  top: calc(96vw - min(12vw, 56px));
  right: 0;
  display: flex;
  z-index: 10;
}
.slider__button {
  background-color: hsl(0, 0%, 0%);
  width: min(12vw, 56px);
  height: min(12vw, 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
.slider__button:hover {
  background-color: hsl(0, 0%, 27%);
}
.slider__button svg {
  width: 45%;
  height: 45%;
  padding: 0;
}
.slider__button svg path {
  stroke-width: clamp(1px, 0.3vw, 1.5px);
  stroke: hsl(0, 0%, 100%);
  vector-effect: non-scaling-stroke;
}
.slider__button:hover path {
  stroke-width: 2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(0, 0%, 63%);
}

.attribution--hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */